@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Jersey+10&display=swap');

:root {
  --font: "Jersey 10", sans-serif;
  --main-color: rgb(250, 8, 8);
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  pointer-events: none;
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  gap: 30vw;
  align-items: center;
  width: 100vw;
 
  background-color: rgb(32, 32, 32);
  margin: 0 auto;
  padding: 7px 25px;
  /* border-radius: 0.8rem; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.navbar-content * {
  pointer-events: auto;
}


.logo {
  font-size: 35px;
  font-weight: 550;
  color: #ffffff;
}

.logo span {
  color: var(--main-color);
}

.nav-links {
  list-style: none;
  display: flex;
  gap:40px;
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.nav-links li {
 
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: var(--main-color);
}

